@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section-statistics {
        padding: 50px;
    }

    .section-statistics a,
    .section-statistics a:hover {
        color: #00ab66;
        text-decoration: underline;
    }

    .section-statistics h2 {
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
</style>

<section id="statistics" class="row section-statistics odd">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Mutatószámok</h2>
                <div class="line-green"></div>
            </div>
        </div>

        <div class="margin-lg">
            <div>
                <p>
                    Felnőttképzési Adatszolgálatatási Rendszer nyilvántartásba vételi szám: B/2020/005477
                </p>
                <p>
                    A Nemzeti Közlekedési Hatóságról szóló 263/2006. (XII. 20.) Korm. rendelet 4. § (3) bekezdés 21.
                    pontjában kapott felhatalmazás alapján a közúti járművezetők és a közúti közlekedési szakemberek
                    képzésének és vizsgáztatásának általános szabályairól szóló 179/2011. (IX. 2.) Korm. rendelet
                    (a továbbiakban: Képz. r.) 2. § (1) bekezdés 7-9. pontja szerinti mutatószámaink a következők.
                </p>
                <p>
                    <strong>Átlagos képzési óraszám (ÁKÓ)</strong><br/>
                    2020. 3. negyedéve: 149,46%
                </p>
            </div>

            <div class="margin-lg">
                <p>
                    <strong>Vizsgasikerességi mutató (VSM):</strong>
                </p>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th style="text-align: center">Elméleti vizsga</th>
                            <th style="text-align: center">Forgalmi vizsga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2020. 3. negyedév</td>
                            <td>2020. 3. negyedév</td>
                        </tr>
                        <tr>
                            <td>86.36%</td>
                            <td>80%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="margin-lg">
                <p>
                    <strong>Képzési költség (KK):</strong><br />
                    2020. 3. negyedévében: 250000 Ft
                </p>

                <p>
                    A mutatószámok meghatározásának részletes leírása megtalálható az
                    <a target="_blank" href="https://vizsgakozpont.hu/tudastar/tanacsok-autosiskola-valasztashoz">alábbi internet címen.</a>
                </p>

                <p class="margin-lg">
                    <a href="/">VISSZA A FŐOLDALRA</a>
                </p>
            </div>
            
        </div>

    </div>
</section>