@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section-statistics {
        padding: 50px;
    }

    .section-statistics a,
    .section-statistics a:hover {
        color: #00ab66;
        text-decoration: underline;
    }

    .section-statistics h2 {
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
</style>

<section id="statistics" class="row section-statistics odd">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Mutatószámok</h2>
                <div class="line-green"></div>
            </div>
        </div>

        <div class="margin-lg">
            <div>
                <p>
                    A Nemzeti Közlekedési Hatóságról szóló 263/2006. (XII. 20.) Korm. rendelet 4. § (3) bekezdés 21.
                    pontjában kapott felhatalmazás alapján a közúti járművezetők és a közúti közlekedési szakemberek
                    képzésének és vizsgáztatásának általános szabályairól szóló 179/2011. (IX. 2.) Korm. rendelet
                    (a továbbiakban: Képz. r.) 2. § (1) bekezdés 7-9. pontja szerinti mutatószámaink a következők.
                </p>
                <p>
                    <strong>Átlagos képzési óraszám (ÁKÓ)</strong><br />
                    2019. 4. negyedéve: 142, 53 %
                </p>
            </div>

            <div class="margin-lg">
                <p>
                    <strong>Vizsgasikerességi mutató (VSM):</strong>
                </p>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center">Elméleti vizsga</th>
                            <th colspan="2" style="text-align: center">Forgalmi vizsga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2019. 3. negyedév</td>
                            <td>2019. 4. negyedév</td>
                            <td>2019. 3. negyedév</td>
                            <td>2019. 4. negyedév</td>
                        </tr>
                        <tr>
                            <td>70.27%</td>
                            <td>80.85%</td>
                            <td>66.67%</td>
                            <td>56.82%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="margin-lg">
                <p>
                    <strong>Képzési költség (KK):</strong><br />
                    2019. 4. negyedévében: 243 750 forint
                </p>

                <p>
                    A mutatószámok meghatározásának részletes leírása megtalálható a Nemzeti Közlekedési Hatóság honlapján, az
                    <a target="_blank" href="https://www.nkh.gov.hu/documents/11102/230874/A+k%C3%A9pz%C5%91+szervek+tev%C3%A9kenys%C3%A9g%C3%A9t+jellemz%C5%91+mutat%C3%B3k+sz%C3%A1m%C3%ADt%C3%A1s%C3%A1nak+meghat%C3%A1roz%C3%A1sa/a8dd55e5-93b2-4286-b188-6f110e42f6ae?version=1.1&type=.pdf">alábbi internet címen.</a>
                </p>

                <p class="margin-lg">
                    <a href="/">VISSZA A FŐOLDALRA</a>
                </p>
            </div>
            
        </div>

    </div>
</section>