<section id="about" class="row section-about text-left">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1.5s">
                <div class="row about-profile">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
            </div>
            
            <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="0.5">
                <h2 class="section-title">Magunkról</h2>
                <div class="line-green"></div>

                <div class="margin-lg">
                    <p>
                        Örülök, hogy iskolánk felkeltette érdeklődését, remélem, hogy amennyiben minket választ, azon korábbi
                        tanulóink sorába állhat majd, akik élményekben és tapasztalatokban gazdag emlékekkel vizsgáztak iskolánkban. Ezt bizonyítja az is, hogy tanulóink nagz részét
                        a mai napig is ismerősök ajánlása útján köszönhetjük tanfolyamainkon.
                    </p>

                    <p>
                        Iskolánk főbb jellemzői a gördülékenység és a szervezettség, hogz a tanulóknak minél kevesebb ügyintézést kelljen átélniük.
                        Meggyőződésem, hogy iskolánk maximálisan nyújtja ami elvárható:<br/>
                        Családi légkört, de mégis profizmust, szervezettséget és biztonságot, reális árakon.
                    </p>

                    <p>
                        Remélem, hogy azt gondolja, vannak még olyan honlapok, amelyek nem kizárólag a tanulók csábítására szolgálnak, hanem
                        tényeket közölnek. Mi is igyekszünk ezt biztosítani. Kérem nézzen körül a honlapon, és ha meggyőztük, jelentkezzen.
                    </p>

                    <p>
                        Krizsma Gábor, Iskolavezető
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>