@using Kowalsky.Models
@model PriceModel

<section id="discounts" class="row section-discount">
    <div class="col-md-12">
        <div class="row wow fadeIn" data-wow-duration="1.5s" data-wow-offset="10">
            <div class="col-md-12">
                <h2 class="section-title">Kedvezmények</h2>
                <div class="line-yellow"></div>
                <div class="short-text">Iskolánkban az alábbi kedvezményeket tudjuk nyújtani</div>
                <div class="line-yellow"></div>
            </div>
        </div>
        <div class="margin-lg row">
            <div class="col-md-6 col-sm-6">
                <div class="row discount-box wow fadeIn" data-wow-duration="1.5s">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <i class="glyphicon glyphicon-usd"></i>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Részletfizetési lehetőség</h3>
                                <span>
                                    Jelentkezéskor befizetendő összeg @Model.TheoryPrice.Amount  Ft (elméleti tandíj), majd 10 óránként @(Model.Tariff * 10) Ft (gyakorlati díj, három alkalommal esedékes).
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row discount-box wow fadeInRight" data-wow-duration="0.5s">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <i class="glyphicon glyphicon-education"></i>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>E-learning</h3>
                                <span>
                                    Nálunk akár E-learningben is gondolkodhatsz! Információért hívj bennünket bizalommal. Akkreditált E-learning képzésre tanfolyam időpontoktól függetlenül bármikor jelentkezhetsz, így otthonról is végezheted el az elméleti részt!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>