<!-- Modal -->
<div class="modal fade" id="dssAggrement" tabindex="-1" role="dialog" aria-labelledby="dssAggrementLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">ADATKEZELÉSI ÉS ADATVÉDELMI SZABÁLYZAT</h3>
            </div>
            <div class="modal-body">
                <h4>1. Bevezetés</h4>
                <p>
                    A krizsmajogsi.hu weboldal üzemeltetője, továbbá Adatkezelője (Krizsma Gábor egyéni vállalkozó, 1038 Budapest, Körös utca 35, email: krizsmajogsi@gmail.com, 
                    Nyilvántartási szám: 5433938, Adószám: 62143644-1-41) fontosnak tartja a weboldalon jelentkező Felhasználók adatainak védelmét, 
                    illetve információs önrendelkezési joguk tiszteletben tartását, valamint az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi CXII. törvény (továbbiakban Infotv.) 2. § (1) bekezdése szerint, a törvény tárgyi hatálya alá eső tény, információ, adat (a továbbiakban együttesen Személyes adat) kezelésének szabályait, továbbá ilyen adat illetéktelen harmadik személy által történő megszerzése vagy felhasználása, esetleges nyilvánosságra hozatala elleni védelmet.
                </p>
                
                <h4>2. Szabályzat módosítása</h4>
                <p>
                    Jelen szabályzatot meghatározott időközönként felülvizsgáljuk és módosítjuk annak érdekében, hogy az megfeleljen mind a célkitűzéseinknek, mind a hatályos adatvédelmi jogszabályoknak. Amennyiben a jelen szabályzat módosításra kerül, úgy a módosított verziót a honlapon közzétesszük.
                    Az Adatkezelőnek joga van az adatkezelési és adatvédelmi szabályzatban foglalt információkat módosítani, ha bármilyen törvényben meghatározott módosítás áll fent, illetve ha bármely az Adatkezelő adataival kapcsolatos változás történik.
                </p>
                
                <h4>
                    3. Az adatkezelés jogalapja
                </h4>
                <p>
                    A weboldalon jelentkező Személyek adatainak kezelésére és tárolására a Felhasználó önkéntes hozzájárulása után kerül sor. A honlapon történő jelentkezéssel, Ön kifejezetten elfogadja és hozzájárul ahhoz, hogy a jelen szabályzatban leírtaknak megfelelően az Adatkezelő rögzítse és tárolja adatait.
                </p>
                
                <h4>
                    4. Adatkezelés módja, ideje
                </h4>                
                <p>
                    Személyes adat kizárólag meghatározott célból, jog gyakorlása és kötelezettség teljesítése érdekében kezelhető. Az adatkezelésnek minden szakaszában meg kell felelnie az adatkezelés céljának, az adatok felvételének és kezelésének tisztességesnek és törvényesnek kell lennie, ez a célhoz kötöttség elve.
                </p>
                <p>
                    Az adatkezelés során biztosítani kell az adatok pontosságát, teljességét és - ha az adatkezelés céljára tekintettel szükséges - naprakészségét, valamint azt, hogy az érintettet csak az adatkezelés céljához szükséges ideig lehessen azonosítani.
                </p>
                <p>
                    A weboldalon jelentkező Felhasználónak joga van kérni az Adatkezelőt adatainak végleges törlésére. Az adatkezelés időtartama az érintett kérelme alapján e-mail címének törléséig vagy adatainak kezelésére vonatkozó engedélye visszavonásáig érvényes.
                </p>
                <p>
                    A személyes adatok módosítására és törlésére, a hozzájárulás visszavonására, továbbá a személyes adatok kezelésről tájékoztatás kérésére a krizsmajogsi@gmail.com e-mail címre küldött értesítéssel van mód.
                </p>
                
                <h4>
                    5. Személyes adatok továbbítása
                </h4>
                <p>
                    Az Adatkezelő a személyes adatokat harmadik személy részére csak kivételesen és abban az esetben továbbítja, valamint az általa kezelt adatbázist más adatkezelővel csak abban az esetben kapcsolja össze, ha az érintett ahhoz hozzájárul, vagy törvény azt megengedi, és ha az adatkezelés feltételei minden egyes személyes adatra nézve teljesülnek.
                </p>
                
                <h4>
                    6. Az adatkezeléssel érintett tevékenységek és adatok köre
                </h4>
                <p>
                    Tevékenység: krizsmajogsi.hu oldalon történő jelentkezés <br />
                    Adatok: A kapcsolattartáshoz szükséges adatok az alábbiak: Név, E-mail cím, Telefonszám
                </p>
                
                <h4>
                    7. Biztonság
                </h4>
                <p>
                    Az Interneten nem lehet biztosítani a személyes adatok teljes körű védelmét, biztonságát, azonban mindent megteszünk az Ön személyes adatainak védelme érdekében, így olyan technikai biztonsági intézkedéseket alkalmazunk, melyek igyekeznek a személyes adatokat megóvni a véletlen vagy szándékos manipulációtól, elvesztéstől, megsemmisítéstől, jogosulatlan közzétételtől, illetve hozzáféréstől. A fentiek ellenére - tekintettel az Internet sajátosságaira - nem tudjuk garantálni, hogy jogosulatlan behatolás során bármely, számunkra Önök által átadott információhoz egyáltalán nem fog hozzáférni jogosulatlan harmadik személy.
                </p>
                
                <h4>
                    8. Bírósági jogérvényesítés
                </h4>
                <p>
                    A Jelentkező jogainak megsértése esetén bírósághoz fordulhat. Információs önrendelkezési jogának megsértése esetén bejelentéssel, panasszal élhet:
                    Nemzeti Adatvédelmi és Információszabadság Hatóság <br/>
                    Cím: 1125 Budapest, Szilágyi Erzsébet fasor 22/c <br />
                    Telefon: +36 (1) 391-1400 <br />
                    Fax: +36 (1) 391-1410 <br />
                    Web: http://www.naih.hu <br />
                    E-mail: ugyfelszolgalat@naih.hu <br />
                    Budapest, 2018
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
            </div>
        </div>
    </div>
</div>