<section id="images" class="row section-gallery">
    <div class="col-md-12">
        <div class="row wow fadeIn" data-wow-duration="1.5s" data-wow-offset="10">
            <div class="col-md-12">
                <h2 class="section-title">Képek</h2>
                <div class="line-green"></div>
                <div class="short-text">Itt megtekintheti az iskolánk képeit</div>
                <div class="line-green"></div>
            </div>
        </div>
        <div class="margin-lg row">
            <div id="pictures" class="col-md-12 owl-carousel owl-theme wow bounceIn" data-wow-duration="1.5s">
                <div class="owl-item">
                    <div>
                        <a href="~/images/home/1.jpg" data-lightbox-gallery="pictures-gallery">
                            <img width="250" src="~/images/home/1.jpg" alt="picture" />
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div>
                        <a href="~/images/home/2.jpg" data-lightbox-gallery="pictures-gallery">
                            <img width="250" src="~/images/home/2.jpg" alt="picture" />
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div>
                        <a href="~/images/home/3.jpg" data-lightbox-gallery="pictures-gallery">
                            <img width="250" src="~/images/home/3.jpg" />
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div>
                        <a href="~/images/home/4.jpg" data-lightbox-gallery="pictures-gallery">
                            <img width="250" src="~/images/home/4.jpg" />
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div>
                        <a href="~/images/home/5.jpg" data-lightbox-gallery="pictures-gallery">
                            <img width="250" src="~/images/home/5.jpg" />
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div>
                        <a href="~/images/home/6.jpg" data-lightbox-gallery="pictures-gallery">
                            <img width="250" src="~/images/home/6.jpg" />
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div>
                        <a href="~/images/home/7.jpg" data-lightbox-gallery="pictures-gallery">
                            <img width="250" src="~/images/home/7.jpg" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>