<section id="home" class="section-home max-height" data-stellar-background-ratio="0.5" style="background-position: 50% 0;">

    <div class="col-md-12">

        <div class="row dark-overlay">

            <div class="col-md-12">
                <div class="row section-home-cont">
                    <div class="col-md-12">

                        <div class="row outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="navbar">
                                        <img src="~/images/home/car.png" />
                                    </div>

                                    <h1>Üdvözöllek a Krizsmajogsi weboldalán!</h1>

                                    <h5>Jelentkezz az E-learning képzésre, így otthonról végezheted el az elméleti részt!</h5>
                                    <button>
                                        <i class="glyphicon glyphicon-education"></i>
                                        <span>E-LEARNING</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row arrow-down">
                            <div class="col-md-12">
                                <div class="bounce">
                                    <a href="#schedule" class="glyphicon glyphicon-menu-down"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
