@using Kowalsky.Models
@model IReadOnlyList<Price>

<section id="prices" class="row section-price">
    <div class="col-md-12">
        <div class="row wow fadeIn" data-wow-duration="1.5s" data-wow-offset="10">
            <div class="col-md-12">
                <h2 class="section-title">Árak</h2>
                <div class="line-green"></div>
                <div class="short-text">Itt megtekintheti az árainkat</div>
                <div class="line-green"></div>
                <div class="under-line-padding row">
                    Kedvező ajánlatunk keretében így 3300 Ft-os óradíjért tanulhatsz, ami az egyik legkedvezőbb ár a piacon. Külön pótóradíj nincs!
                </div>
            </div>
        </div>
        
        <div class="row">
            <button>
                <i class="glyphicon glyphicon-education"></i>
                <span>99000 Ft</span>
            </button>
        </div>
        
        <div class="row margin-lg">
            A jogositvány megszerzéséhez vezető úton több hivatalos akadályt is le kell küzdeni.
            Ezek autosiskolától független tényezők, ami azt jelenti, bármelyik iskolát is választod Magyarországon,
            ezen a költségeket pluszban vállalnod kell. Iskolánk ahol lehet megkönnyíti neked a hivatalos eljárást,
            első útmutatóként lásd az árakat hogy jobban felkészülhess.
        </div>

        <div class="row margin-lg">

            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-4 @(item == Model[0] || item == Model[1] ? "col-sm-offset-1" : "") ">
                    <div class="row price-box wow fadeIn" data-wow-duration="1.5s">
                        <div class="col-md-12">
                            <h2>@item.Prices Ft</h2>
                            <h4>@item.Title</h4>
                            <span>
                                @item.Description
                            </span>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section>