header {

    nav {
        &.navbar {
            &.navbar-default {
                background: @kj-green;
                border-color: @kj-green;

                .navbar-toggle {
                    background-color: white;

                    &.icon-bar {
                        background-color: white;
                    }

                    &:hover,
                    &:focus {
                        background-color: inherit;
                    }
                }

                &.background-yellow {
                    background: @kj-yellow;
                    border-color: @kj-yellow;
                    transition: all 0.3s ease 0s;
                }

                &.background-green {
                    background: @kj-green;
                    border-color: @kj-green;
                    transition: all 0.3s ease 0s;
                }
            }
        }
    }

    .nav-animate-in {
        opacity: 1;
        transition: all 0.3s ease 0s;
    }

    .nav-animate-out {
        opacity: 0;
        transition: all 0.3s ease 0s;

        a {
            cursor: default;
        }
    }

    ul {
        &.nav {
            &.navbar-nav {
                &.navbar-left {
                    a {
                        font-size: 18px;
                        color: white;
                        text-transform: uppercase;
                    }
                }

                &.navbar-right {
                    margin-top: 3px;

                    a {
                        color: white;
                        text-transform: uppercase;
                        font-size: 13px;
                    }
                }
            }
        }

        li {
            &.current {
                a {
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 992px) {

    header {
        nav {
            &.navbar {
                &.navbar-default {
                    .navbar-header {
                        float: none;

                        .navbar-toggle {
                            display: block;
                            background-color: transparent;
                            border-color: white;

                            .icon-bar {
                                background-color: white;
                            }
                        }
                    }

                    .navbar-collapse {
                        border-top: 1px solid transparent;
                        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

                        .navbar-nav {
                            float: none !important;
                            margin-top: 7.5px;

                            li {
                                display: inline-block;
                                float: none;

                                a {
                                    padding: 10px 10px;
                                }
                            }
                        }
                    }
                }

                &.navbar-fixed-top {
                    top: 0;
                    border-width: 0 0 1px;
                }
            }
        }
    }

    .navbar-collapse.collapse {
        display: none !important;
    }
    
    .collapse.in {
        display: block !important;
    }
}