.section-price {

    button {
        border: none;
        color: white;
        min-width: 250px;
        margin-top: 50px;
        padding: 15px 35px;
        background: @kj-green;
        transition: background-color 0.3s ease-out;

        i {
            &.glyphicon {
                margin-right: 5px;
            }
        }

        &:hover {
            background: @kj-yellow;
        }

        &:focus {
            outline: none;
        }
    }

    .price-box {
        border: 1px solid transparent;
        padding-bottom: 15px;
        padding-top: 15px;
        transition: all 0.3s ease 0s;

        h2 {
            color: @kj-green;
            font-size: 32px;
            font-weight: bold;
        }

        h3 {
            color: @kj-green;
        }

        &:hover {
            border: 1px solid @kj-green;
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .section-price {

        .price-box {
            margin: 20px 0;
        }

    }
}